table{
    button{
        background-color: rgb(190, 47, 83);
    }
        // background-image: url(img_flwr.gif), url(paper.gif);
        background-color: aquamarine;
        background-position: right bottom, left top;
        background-repeat: no-repeat, repeat;
     
        
}