button{
    background-color: rgb(64, 175, 138),;
    border: 2px, blanchedalmond;
    padding-block-end: 1px;
    color: white;
}
h3{
   motion-rotation: reverse;
    text-align: center;
    color: rgb(20, 10, 10);
    
}
div{
    background-color: rgb(32, 223, 134);
}