 

<table class="table table-success table-striped">
    
    <thead>
        <tr>
            <th>bookId</th>
            <th>bookName</th>
            <th>publishar</th>
            <th>bookPrice</th>
            <th>authorName</th>
            <th>category</th>
            <th>active</th>
            <!-- <th>Subscribe</th> -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of books">
            <td>{{book.bookId}}</td>
            <td>{{book.bookName}}</td>
            <td>{{book.publishar}}</td>
            <td>{{book.bookPrice}}</td>
            <td>{{book.authorName}}</td>
            <td>{{book.category}}</td>
            <td>{{book.active}}</td>
           <!-- <td> <button (click)="buyBook(book.bookId)"class="btn btn-primary">Buy</button></td> -->
          
        </tr>

    </tbody>


  </table> 